<div class="mb-4">
    <a href="{% url 'opensees:calculator1' project.pk task.pk %}" class="btn btn-outline-secondary">Model Generator</a>
    <a href="{% url 'opensees:calculator2' project.pk task.pk %}" class="btn btn-outline-primary">Section Properties</a>
    <a href="{% url 'opensees:calculator3' project.pk task.pk %}" class="btn btn-outline-secondary">Concrete_Properties</a>
    
    <a href="{% url 'opensees:calculator4' project.pk task.pk %}" class="btn btn-outline-primary">Seismic Analysis</a>

    <a href="{% url 'opensees:calculator5' project.pk task.pk %}" class="btn btn-outline-primary">Wind Analysis</a>
    <a href="{% url 'opensees:punching_shear_analysis' project.pk task.pk %}" class="btn btn-primary active">Punching Shear</a>

    <a href="{% url 'opensees:calculator6' project.pk task.pk %}" class="btn btn-outline-primary">Center of Mass</a>
    
    <!-- Dynamic link with variables from context -->
    <a href="{% url 'opensees:python-editor' project_id=project.pk task_id=task.pk %}" class="btn btn-outline-primary">open code editor</a>



    <a href="{% url 'opensees:input' project.pk task.pk %}" class="btn btn-outline-secondary">← Back to Input</a>
    


</div>
